<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="regForm" class="form">
        <div class="form-group d-flex m-2">
          <label for="name" class="w-25">Name</label>
          <input
            formControlName="name"
            id="name"
            class="form-control"
            type="text"
          />
        </div>

        <div *ngIf="!NameValid" class="validation-message">
          Name is Not Valid
        </div>
        <div class="form-group d-flex m-2">
          <label for="age" class="w-25">Age</label>
          <input
            formControlName="age"
            id="age"
            class="form-control"
            type="number"
          />
        </div>
        <div *ngIf="!AgeValid" class="validation-message">Age is Not Valid</div>
        <div class="form-group d-flex m-2">
          <label for="email" class="w-25">Email</label>
          <input
            formControlName="email"
            id="email"
            class="form-control"
            type="email"
          />
        </div>

        <div *ngIf="!EmailValid" class="validation-message">
          Email is Not Valid
        </div>
        <div class="form-group text-center">
          <input
            (click)="check()"
            class="btn btn-outline-primary"
            value="Check"
            type="button"
          />
        </div>
      </form>
    </div>
  </div>
</div>
